@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

h3,p {
	margin: 0;
	font-weight: normal;
}

.main_box {
	width: 100%;
	position: relative;
}

.box {
	width:100%;
	margin: 10px auto;
	padding: 15px;
}

.box ul li {
	width: 202px;
	height: 300px;
	box-shadow: 3px 2px 30px rgba(0, 0, 0, .1);
	float: left;
	text-align: center;
	position: relative;
	transition: all .6s ease-out;
}

.box ul li h3 {
	padding-top: 30px;
	color: #333;
	font-size: 18px;
}

.box ul li p {
	margin-top: 7px;
	color: #666;
	font-size: 14px;
}

.box ul li img {
	width: 150px;
	height: 150px;
	position: absolute;
	right: 26px;
	bottom: 40px;
	transition: all .6s ease-out;
}

.box ul .on {
	width: 402px;
	height: 300px;
	background-color: #3288e6;
	text-align: left;
}

.box ul .on h3 {
	padding-left: 20px;
	color: #FFF;
}

.box ul .on p {
	margin-left: 20px;
	color: #FFF;
}

.box ul .on img {
	width: 220px;
	height: 220px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}